<!DOCTYPE html>
<html>
<head>
  <title>Página de Contacto</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <header>
    
  </header>
  <h1>Contacto</h1>
  <div>
    <form action="submit_form.php" method="POST">
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="message">Mensaje:</label>
      <textarea id="message" name="message" rows="5" required></textarea>

      <button type="submit">Enviar</button>
    </form>
  </div>

  <footer>
    <p>&copy; 2023 Mi Empresa. Todos los derechos reservados.</p>
  </footer>
</body>
</html>