<!DOCTYPE html>
<html>
<head>
  <title>Subir Dibujo</title>
  <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
  <header class="navbar">
    <%- include('./components/navbar.ejs') %>
  </header>
  <div class="archivosubida" >
  <h1 >Sube tus mejores diseños y dibujos</h1>

  <form action="/upload" method="POST" enctype="multipart/form-data" style="display:flex">
    <input type="file" name="imagen">
    <button type="submit">Subir</button>
  </form>
</div>
</body>
</html>