<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="resources/css/style.css">
  <title>Inicio</title>
  <style>      
      
  </style>
</head>
<body class="text-center">         
  <div class="contenedor">
    <header class="navbar">
      <%- include('./components/navbar.ejs') %>
    </header>
    <div class="banner">
    <h1 class="title">ArtHub</h1>
    <h2 class="subtitle">El arte es lo que dejas salir</h2>
  </div>
  <div class="separator" style="display:flex; justify-content: center">
    <svg xmlns="http://www.w3.org/2000/svg" width="80%" height="1" >
      <line x1="0" y1="0" x2="100%" y2="0" style="stroke: #000000; stroke-width: 1" />
    </svg>
  </div>
  <div class="Regis" style="text-align: center; font-family: Inter;">
    <% if (login) { %>                
      <h1 >Bienvenido: <strong><%= name %></strong></h1>  
      <% if (rol === 'dibujante') { %>
        <a href="/upload" class="a-upload">Ir a Formulario de Carga</a>
      <% } %>
      <a href="/logout" class="a-logout">Logout</a>
    <% } else { %>
      <h1><strong>¿Quieres formar parte de nosotros? Unete</strong></h1>   
      <a href="/login" class="a-login">Unirse a ArtHub</a>
    <% } %>
  </div>
</body>
</html>