<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="resources/css/style.css">
  <link rel="icon" href="https://media.discordapp.net/attachments/920415005281775617/1117787663513161908/LOGO-removebg-preview.png" type="image/gif" sizes="16x16">
  <title>Inicio</title>
  <style>      
      
  </style>
</head>
<body class="text-center">         
  <div class="contenedor">
    <header class="navbar">
      <%- include('./components/navbar.ejs') %>
    </header>
    <div class="banner">
    <h1 class="title">ArtHub</h1>
    <h2 class="subtitle">El arte es lo que dejas salir</h2>
  </div>
  <div class="separator" style="display:flex; justify-content: center">
    <svg xmlns="http://www.w3.org/2000/svg" width="80%" height="1" >
      <line x1="0" y1="0" x2="100%" y2="0" style="stroke: #000000; stroke-width: 1" />
    </svg>
  </div>
  <div class="Regis" style="text-align: center; font-family: Inter; margin-bottom: 15em;">
    <% if (login) { %>                
      <h1 >Bienvenido: <strong><%= name %></strong></h1>
      <p>Como usuario podrás visitar la galería para ver los asombrosos dibujos creados por nuestra comunidad, si eres dibujante, presiona el boton para subir tus fantasticas obras</p>  
      <% if (rol === 'dibujante') { %>
        <a href="/upload" class="a-upload">Quiero compartir mis dibujos</a>
      <% } %>
      <a href="/logout" class="a-logout">Salir</a>
    <% } else { %>
      <h1><strong>¿Quieres formar parte de nosotros? Unete</strong></h1>   
      <a href="/login" class="a-login">Unirse a ArtHub</a>
    <% } %>
  </div>
  <%- include('./components/footer.ejs') %>
</body>
</html>