<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="icon" href="https://media.discordapp.net/attachments/920415005281775617/1117787663513161908/LOGO-removebg-preview.png" type="image/gif" sizes="16x16">

    <title>Inicio</title>
    <style>      
        
    </style>
  </head>
<header class="navbar">
    <%- include('./components/navbar.ejs') %>
  </header>
  <div style="text-align: center; margin-top: 20px;">
<h1>Hubo un error</h1>
al parecer el archivo que subiste no estaba en formato png, jgp o webp, o simplemente no lo subiste por favor vuelve a intentarlo 
<a href="/" class="button">Volver a inicio</a>
</div>
<%- include('./components/footer.ejs') %>