<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Inicio</title>
    <style>      
        
    </style>
  </head>
<header class="navbar">
    <%- include('./components/navbar.ejs') %>
  </header>
<h1>Hubo un error</h1>
al parecer el archivo que subiste no estaba en formato png, jgp o webp, o simplemente no lo subiste por favor vuelve a intentarlo 
<a href="/" class="button">Volver a inicio</a>