<footer class="footer">
    <div class="container">
      <div class="footer-row">
        <div class="footer-col">
          <h4>ArtHub</h4>
          <p class="copy-right">© 2008-2019 ArtHub Corporation. All Rights Reserved.</p>
        </div>
        <div class="footer-col">
          <h5>Terminos y licencias</h5>
          <ul>
            <li>Licencias de patentes y adquisiciones</li>
            <li>Terminos y condiciones de uso</li>
            <li>Contrato de derechos de imagen</li>
          </ul>
        </div>
        <div class="footer-col">
          <h5>Redes</h5>
          <ul>
            <li>Instagram</li>
            <li>Github</li>
            <li>Twitter</li>
          </ul>
        </div>
        <div class="footer-col">
          <h5>Otros</h5>
          <ul>
            <li>Opciones de privacidad</li>
            <li>Nuevas actualizaciones</li>
            <li>Contacto</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>