<nav class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        <img src="https://media.discordapp.net/attachments/920415005281775617/1117787663513161908/LOGO-removebg-preview.png" style="width: 100px; height: 100px;">
    </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <ul class="nav-list">
      <li><a href="/">Inicio</a></li>
      <li><a href="/image-gallery">Galeria</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </nav>